
<router-outlet />
<head>

  <link rel="stylesheet" href="app.component.css">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Geritch</title>

  
     
</head>

<body>
  <div class="primera_pagina">

      <h1 id="Titulo">Geritch</h1>
       
     <p id="Descripcion1">
      ¡Bienvenido a Geritch: un lugar donde la tradición italiana se encuentra con la creatividad 
      de las hamburguesas! Ubicado en el corazón de la ciudad, Geritch te ofrece una experiencia 
      gastronómica única que combina lo mejor de la gastronomia.
     </p>

     <a href="#segunda_pagina" id="Descubre">Descubre</a>    
        
  </div>  

  <div class="segunda_pagina" id="segunda_pagina">    
      <h3 id="Descripcion2">
          Al cruzar nuestras puertas, serás recibido por el aroma tentador de la cocina 
          italiana y el ambiente acogedor de nuestro restaurante. Con una decoración que 
          evoca la calidez de una trattoria italiana y un toque moderno, Geritch es el lugar 
          perfecto para disfrutfar de una comida deliciosa en un entorno relajado
      </h3>

      <p id="Descripcion3">
          Nuestro menú presenta una amplia gama de platos italianos auténticos, desde pastas 
          frescas y risottos cremosos hasta pizzas recién salidas del horno con ingredientes 
          de primera calidad. Cada bocado te transportará a las encantadoras calles de Italia, con 
          sabores que te harán sentir como si estuvieras en el corazón de la Toscana.
      </p>
  </div>
  <hr>
  <div class="horario">   
      <h3>Horario</h3>
      <ul>
          <li>Lun-Jue: <span> 12 PM - 10 PM </span></li>
          <li>Vie-Dom: <span>12 PM - 12 AM</span></li>
      </ul>
  </div>
  <hr>
  <div class="Hamburguesas">

  </div>    
  <hr>
  <div class="Reservas">
      <H2 id="Booking">Booking & info</H2>
      <form id="Formulario">
          <Label for="nombre">Nombre</Label>
          <input type="text" id="nombre" name="nombre" placeholder="Nombre"> 
          <br>
          <br>
          <Label for="email">Email</Label>
          <input type="text" id="email" name="email" placeholder="Email">
          <br>
          <br>
          <Label for="telefono">Telefono</Label>
          <input type="text" id="telefono" name="telefono" placeholder="Telefono">
          <br>
          <br>
          <Label for="numero_de_personas">Numero de personas</Label>
          <input type="text" id="numero_de_personas" name="numero_de_personas" placeholder="Numero de personas">
      </form>

  </div>
</body>
<footer class="pie">

</footer>
